extends index

block main
  div.single-left
    div.obj-title
      span.slash
        | /
      h1.title-left
        =crag.name
      h1.title-sub 
        =crag.country
    div.obj-holder
      img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-top.png", width="640", style="top: 0;")
      img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-btm.png", width="640", style="top: " + (360-8) + "px;")
      div#crag_map.map(data-lat=crag.lat, data-lon=crag.lon)
    div.obj-desc.matte
      img.left(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-obj-info.gif', alt='info', align='top')
      div.obj-desc-txt-wrap
        p.obj-desc-txt
          span.no-description
            | No description yet.
    div.ascent-filter
      div.ascent-filter-buttons
        - var show = crag.bcnt >= crag.rcnt ? 'boulders' : 'routes';
        - if (show === 'boulders') {
          a#boulders-filter.button.button-left.selected(href="javascript:;", data-target="boulders", style="width:60px;") Boulders
          a#routes-filter.button.button-right(href="javascript:;", data-target="routes", style="width:47px;") Routes
        - } else {
          a#boulders-filter.button.button-left(href="javascript:;", data-target="boulders", style="width:60px;") Boulders
          a#routes-filter.button.button-right.selected(href="javascript:;", data-target="routes", style="width:47px;") Routes
        - }
      h1.title-bottom / Browse
      input#filter-box.matte(type='search', placeholder='Search ascents')
    - _.each(ascents, function (v, type) {
      - if (v.list.length === 0) return;
      - var style = type !== show ? 'display:none;': '';
      div.ascents-wrap(id=type, style=style, data-num=(type === 'boulders' ? crag.bcnt: crag.rcnt))
        span.no-results No results.
        - _.each(v.bucks, function (buck) {
          - var grade = buck.shift();
          - if (buck.length === 0) return;
          - var i = 0;
          ul.ascents
            span.grade-heading #{grade}
            - _.each(buck, function (a) {
              - var back = i % 2 === 0 ? '#f2f2f2': '#f9f9f9';
                a(href="/crags/" + a.key, data-name=a.name.toLowerCase(), data-type=a.type)
                  li.ascent(style="background:" + back + ";")
                    - if (a.sector)
                      span.ascent-name #{a.name},&nbsp;
                    - else
                      span.ascent-name #{a.name}
                    span.ascent-sector #{a.sector}
              - ++i;
            - });
        - });
    - });
  div.recent-comments-wrap
    h1.title-right / Recent Activity
  div.clear