extends index

block main
  #banner
    a(href="/zzC6buzI")
      img(src="https://d271mvlc6gc7bl.cloudfront.net/main/img/banner_2.jpg", width="984", height="100")
  div.single-left
    div.obj-title
      span.slash
        | /
      h1.title-left
        =crag.name
      h1.title-sub 
        =crag.country
    div.obj-holder
      img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-top.png", width="640", style="top: 0;")
      img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-btm.png", width="640", style="top: " + (360-8) + "px;")
      div#crag_map.map(data-lat=crag.lat, data-lon=crag.lon)
    div.obj-desc.matte
      img.left(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-obj-info.gif', alt='info', align='top')
      div.obj-desc-txt-wrap
        p.obj-desc-txt
          | foo bar baz
    - _.each(ascents, function (v, type) {
      - if (v.list.length === 0) return;
      h1.title-bottom(style="margin-top:40px;") / #{_.capitalize(type)}
      - _.each(v.bucks, function (buck) {
        - var grade = buck.shift();
        - if (buck.length === 0) return;
        - var i = 0;
        span.grade #{grade}
        ul.ascents
          - _.each(buck, function (a) {
            - var back = i % 2 === 0 ? '#f2f2f2': '#f9f9f9';
              a(href="/crags/" + a.key)
                li.ascent(style="background:" + back + ";")
                  span.ascent-name #{a.name}
                  span.ascent-sector #{a.sector}
            - ++i;
          - });
      - });
    - });
  div.recent-comments-wrap
    h1.title-right / Recent Ascents
  div.clear