extends index

block main
  - films.forEach(function (post) {
    - if (post.product && post.product.sku)
      a#buy-post.button.action-button(href='http://transactions.digitaldeliveryapp.com/products/' + post.product.sku + '/purchase', target='_blank')
        i.icon-download-cloud 
        | #{post.product.subtype} Film ($#{post.product.price})
    div.obj-title
      span.slash
        | /
      h1.title-left
        a(href="/" + post.key)
          =post.title
      h1.title-sub from 
        - if (post.member.key)
          a(href='/member/' + post.member.key)
            =post.member.displayName
        - else
          =post.member.displayName
    - post.medias.forEach(function (med, i) {
      div.obj-holder
        img.mask(src="/graphics/is-cornermask-lrg-top.png", width="984", style="top: 0;")
        img.mask(src="/graphics/is-cornermask-lrg-btm.png", width="984", style="top: " + Math.round(((med.video.meta.height / med.video.meta.width) * 984)-8) + "px;")
        video(src=med.video.cf_url, id='video-' + med._id, poster=med.poster.cf_url, controls='controls', preload='none', width='984', height=Math.round((med.video.meta.height / med.video.meta.width) * 984))
        - if (member)
          div.hearts(data-num=med.hearts)
            div.hearts-wrap
              img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
              img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
              img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
              img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
              img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
            div.hearts-back(id='hrt-' + med._id)
              img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/hearts.png')
    - });
    div.obj-desc.wide.matte
      img.left(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-obj-info.gif', alt='info', align='top')
      div.obj-desc-txt-wrap
        p.obj-desc-txt
          !{util.formatCommentText(post.body)}
        - var location = post.location && post.location.name ? post.location.name : null;
        h3.obj-details(data-date=post.created.toString(), data-type='media', data-location=location)
  - });