doctype 5
html(lang="en")
  head
    meta(property="og:site_name", content="Island")
    meta(property="fb:app_id", content="203397619757208")
    - if ('undefined' !== typeof(post))
      meta(property="og:url", content="http://island.io/" + post.key)
      meta(property="og:title", content=post.title)
      meta(property="og:description", content=post.body)
      - post.medias.forEach(function (med, i) {
        - if (med.type === 'image')
          meta(property="og:type", content="image")
          meta(property="og:image", content=med.image.cf_url)
          meta(property="og:image:secure_url", content=med.image.cf_url)
        - if (med.type === 'video')
          meta(property="og:type", content="movie")
          meta(property="og:image", content=med.poster.cf_url)
          meta(property="og:image:secure_url", content=med.poster.cf_url)
          meta(property="og:video", content="http://d271mvlc6gc7bl.cloudfront.net/main/jwplayer/player.swf?file=" + encodeURIComponent(med.video.cf_url) + "&autostart=true")
          meta(property="og:video:secure_url", content="https://d271mvlc6gc7bl.cloudfront.net/main/jwplayer/player.swf?file=" + encodeURIComponent(med.video.cf_url) + "&autostart=true")
          meta(property="og:video:type", content="application/x-shockwave-flash")
          meta(property="og:video:height", content=med.video.meta.height)
          meta(property="og:video:width", content=med.video.meta.width)
          meta(property="og:video", content=med.video.cf_url)
          meta(property="og:video:secure_url", content=med.video.cf_url)
          meta(property="og:video:type", content="video/mp4")
          meta(property="og:video:height", content=med.video.meta.height)
          meta(property="og:video:width", content=med.video.meta.width)
        - if (med.type === 'audio')
          meta(property="og:type", content="song")
          meta(property="og:audio", content=med.audio.cf_url)
          meta(property="og:audio:secure_url", content=med.audio.cf_url)
          meta(property="og:audio:type", content="application/mp3")
      - });
    - if (typeof title !== 'undefined')
      title= title
    - else
      title Island
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    link(rel="stylesheet", href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css")
    <!--[if lte IE 8]>link(rel="stylesheet", href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css")<![endif]-->
    link(rel="stylesheet", href="/css/fancybox.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", href="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/favicon.ico", type="image/x-icon")
  body
    block content
    script(type="text/javascript", charset="utf-8", src="/js/lib/store/store.min.js")
    - if (typeof member !== 'undefined')
      script
        if (window.store) {
          var notesOpen = store.get('notesOpen');
          if (notesOpen) {
            var p = document.getElementById('panel');
            var w = document.getElementById('wrap');
            p.className = p.className + ' open';
            w.className = w.className + ' panel-open';
          }
        }
    script
      if (window.store) {
        var mapClosed = store.get('mapClosed');
        var m = document.getElementById('map');
        var hs = document.getElementById('hide_show');
        var lm = document.getElementById('less_more');
        if (mapClosed && m && hs && lm) {
          m.className = m.className + ' closed';
          hs.className = 'button';
          hs.innerHTML = 'Show map';
          lm.style.display = 'none';
        }
      }
    script(src="http://libs.cartocdn.com/cartodb.js/v2/cartodb.js")
    script(src="http://jwpsrv.com/library/1lrC0MMbEeKOnyIACqoQEQ.js")
    //- script(charset="utf-8", src="/{{ version }}/js/min.js")
    script(type="text/javascript", charset="utf-8", data-main="/js/main", src="/js/lib/require/require.js")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23247079-1']);
      _gaq.push(['_setDomainName', 'island.io']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
