doctype 5
html(lang="en")
  head
    - if (typeof title !== 'undefined')
      title= title
    - else
      title Island
    meta(name="description", content="We are Island.")
    meta(name="keywords", content="Climb, Climbing, Rock Climbing")
    meta(name="author", content="Island LLC")
    meta(charset="UTF-8")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    link(rel="stylesheet", href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css")
    <!--[if lte IE 8]><link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css"><![endif]-->
    link(rel="stylesheet", href="#{root}/css/fancybox.css")
    link(rel="stylesheet", href="#{root}/css/fontello.css")
    link(rel="stylesheet", href="#{root}/css/animation.css")
    <!--[if IE 7]><link rel="stylesheet" href="#{root}/css/fontello-ie7.css"><![endif]-->
    link(rel="stylesheet", href="#{root}/css/style.css")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")
  body
    block content
    - if (process.env.NODE_ENV === 'production')
      script(type="text/javascript", charset="utf-8", src="#{root}/js/store.min.js")
    - else
      script(type="text/javascript", charset="utf-8", src="/js/lib/store/store.min.js")
    - if (typeof member !== 'undefined')
      script
        if (window.store) {
          var notesOpen = store.get('notesOpen');
          if (notesOpen) {
            var p = document.getElementById('panel');
            var w = document.getElementById('wrap');
            p.className = p.className + ' open';
            w.className = w.className + ' panel-open';
          }
        }
    script
      if (window.store) {
        var mapClosed = store.get('mapClosed');
        var m = document.getElementById('map');
        var hs = document.getElementById('hide_show');
        var lm = document.getElementById('less_more');
        if (mapClosed && m && hs && lm) {
          m.className = m.className + ' closed';
          hs.className = 'button';
          hs.innerHTML = 'Show map';
          lm.style.display = 'none';
        }
      }
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src="http://libs.cartocdn.com/cartodb.js/v2/cartodb.js")
    script(src="http://jwpsrv.com/library/1lrC0MMbEeKOnyIACqoQEQ.js")
    - if (process.env.NODE_ENV === 'production')
      script(charset="utf-8", src="#{root}/js/min.js")
    - else
      script(type="text/javascript", charset="utf-8", data-main="/js/main", src="/js/lib/require/require.js")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23247079-1']);
      _gaq.push(['_setDomainName', 'island.io']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script
      (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/ivy4Fujcvyv0TzMb3Ps62w.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()
    script
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
        mode: 'full',
        primary_color: '#4d4d4d',
        link_color: '#4bb8d7',
        default_mode: 'feedback',
        forum_id: 221231,
        tab_label: 'Feedback & Support',
        tab_color: '#4bb8d7',
        tab_position: 'middle-left',
        tab_inverted: false
      }]);
