doctype 5
html(lang="en")
  head
    meta(property="og:site_name", content="Island")
    meta(property="fb:app_id", content="203397619757208")
    - if ('undefined' !== typeof(post))
      meta(property="og:url", content="http://island.io/" + post.key)
      meta(property="og:title", content=post.title)
      meta(property="og:description", content=post.body)
      - post.medias.forEach(function (med, i) {
        - if (med.type === 'image')
          meta(property="og:type", content="image")
          meta(property="og:image", content=med.image.cf_url)
          meta(property="og:image:secure_url", content=med.image.cf_url)
        - if (med.type === 'video')
          meta(property="og:type", content="movie")
          meta(property="og:image", content=med.poster.cf_url)
          meta(property="og:image:secure_url", content=med.poster.cf_url)
          meta(property="og:video", content="http://d271mvlc6gc7bl.cloudfront.net/main/jwplayer/player.swf?file=" + encodeURIComponent(med.video.cf_url) + "&autostart=true")
          meta(property="og:video:secure_url", content="https://d271mvlc6gc7bl.cloudfront.net/main/jwplayer/player.swf?file=" + encodeURIComponent(med.video.cf_url) + "&autostart=true")
          meta(property="og:video:type", content="application/x-shockwave-flash")
          meta(property="og:video:height", content=med.video.meta.height)
          meta(property="og:video:width", content=med.video.meta.width)
          meta(property="og:video", content=med.video.cf_url)
          meta(property="og:video:secure_url", content=med.video.cf_url)
          meta(property="og:video:type", content="video/mp4")
          meta(property="og:video:height", content=med.video.meta.height)
          meta(property="og:video:width", content=med.video.meta.width)
        - if (med.type === 'audio')
          meta(property="og:type", content="song")
          meta(property="og:audio", content=med.audio.cf_url)
          meta(property="og:audio:secure_url", content=med.audio.cf_url)
          meta(property="og:audio:type", content="application/mp3")
      - });
    title= title
    //- link(rel='stylesheet', href='https://d271mvlc6gc7bl.cloudfront.net/main/css/style2.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://d271mvlc6gc7bl.cloudfront.net/main/ui/ui6.css')
    //- link(rel='stylesheet', href='/ui/ui.css')
    link(rel='stylesheet', href='https://d271mvlc6gc7bl.cloudfront.net/main/jplayer/skin/blue.monday/jplayer.blue.monday.css')
    link(rel='shortcut icon', href='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/favicon.ico', type='image/x-icon')
  body
    - if ('undefined' !== typeof(member))
      div(id='_d', data-env=(process.env.NODE_ENV || 'dev'), data-mid=member._id.toString(), data-mk=member.key)
    - else
      div(id='_d', data-env=(process.env.NODE_ENV || 'dev'))
    block content
    script(type='text/javascript', src='https://d3dy5gmtp8yhk7.cloudfront.net/1.12/pusher.min.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/json2-min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/jwplayer/jwplayer.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/jplayer/js/jquery.jplayer.min.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/jquery.autogrow-min.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/jquery.tweet-min.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/jquery.jsonp-min.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/jquery.easing-min.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/date-min.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/util-min2.js')
    //- script(type='text/javascript', src='/javascripts/util.js')
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/spin.min.js')
    script(type='text/javascript', src='//assets.transloadit.com/js/jquery.transloadit2.js')
    script(type='text/javascript', src="https://d271mvlc6gc7bl.cloudfront.net/main/js/underscore-min.js")
    script(type='text/javascript', src="https://d271mvlc6gc7bl.cloudfront.net/main/js/modernizr-1.7.min.js")
    script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/ui/ui-min.js')
    //- script(type='text/javascript', src='https://d271mvlc6gc7bl.cloudfront.net/main/js/island-min7.js')
    script(type='text/javascript', src='/javascripts/island.js')
    script
      jQuery(function () { Island.go(); });
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23247079-1']);
      _gaq.push(['_setDomainName', 'island.io']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
