doctype 5
html(lang="en")
  head
    - if (typeof title !== 'undefined')
      title= title
    - else
      title The Island
    meta(name="description", content="We are Island.")
    meta(name="keywords", content="Climb, Climbing, Rock Climbing, Bouldering, Island, Training, Logging")
    meta(name="author", content="The Island")
    meta(charset="UTF-8")
    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    link(rel="stylesheet", href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/themes/css/cartodb.css")
    link(rel="stylesheet", href="#{root}/css/fancybox.css")
    link(rel="stylesheet", href="#{root}/css/fontello.css")
    link(rel="stylesheet", href="#{root}/css/animation.css")
    <!--[if IE 7]><link rel="stylesheet" href="#{root}/css/fontello-ie7.css"><![endif]-->
    link(rel="stylesheet", href="#{root}/css/classic.css")
    link(rel="stylesheet", href="#{root}/css/classic.date.css")
    link(rel="stylesheet", href="#{root}/css/classic.time.css")
    link(rel="stylesheet", href="#{root}/css/tooltipster.css")
    link(rel="stylesheet", href="#{root}/css/style.css")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")
  body.preload
    block content
    script(type="text/javascript", charset="utf-8", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAWgUokzlRODT2GBOjZC9Qd4WGmcKzyikA&sensor=false")
    - if (process.env.NODE_ENV === 'production')
      script(type="text/javascript", src="#{root}/js/store.min.js")
    - else
      script(type="text/javascript", src="/js/lib/store/store.min.js")
    - if (typeof member !== 'undefined')
      script(type="text/javascript")
        if (window.store) {
          var notesOpen = store.get('notesOpen');
          if (notesOpen) {
            var p = document.getElementById('panel');
            var w = document.getElementById('container');
            p.className = p.className + ' open';
            w.className = w.className + ' panel-open';
          }
        }
    script(type="text/javascript")
      if (window.store) {
        var mapClosed = store.get('mapClosed');
        var mapTall = store.get('mapTall');
        var m = document.getElementById('map');
        var hs = document.getElementById('hide_show');
        var lm = document.getElementById('less_more');
        if (!mapClosed && m && hs && lm) {
          if (mapTall) {
            m.className = 'map opened';
            hs.style.display = 'none';
            lm.innerHTML = 'Less map';
          } else {
            m.className = 'map';
          }
          hs.className = 'hide-show button split-left';
          hs.innerHTML = 'Hide map';
          lm.style.display = 'inline-block';
        }
      }
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js")
    script(type="text/javascript", src="https://jwpsrv.com/library/1lrC0MMbEeKOnyIACqoQEQ.js")
    script(src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/cartodb.js")
    - if (process.env.NODE_ENV === 'production')
      script(type="text/javascript", src="#{root}/js/min.js")
    - else
      script(type="text/javascript", data-main="/js/main", src="/js/lib/require/require.js")
    - if (process.env.NODE_ENV === 'production')
      script(type="text/javascript")
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-23247079-1', 'auto');
        ga('require', 'displayfeatures');
        ga('require', 'linkid', 'linkid.js');
