- if ('image' === object.type || 'audio' === object.type)
  div.each-grid-obj.matte(id=object._id.toString(), class='is-' + object.type)
    div.comment-title
      - if (object.post.member.role === 0 && object.post.member.key)
        a.object-title-name(href='/member/' + object.post.member.key)
          =object.post.member.displayName
      - else
        span.object-title-name-inactive
          =object.post.member.displayName
      - if (object.post)
        a.object-title-parent(href='/' + object.post.key, data-id=object._id.toString(), data-key=object.key)
          =object.post.title
    div.object-body
      div.object-parent-types
        ul
        - object.post.medias.forEach(function (med, i) {
          - var str, w, h;
          - switch (med.type) { case 'image': str = 'is-camera'; w = 14; h = 11; break; case 'video': str = 'is-recorder'; w = 21; h = 11; break; case 'audio': str = 'is-microphone'; w = 9; h = 11; break; }
          - str += i === object.index ? '' : '-inactive';
          li
            img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/' + str + '.png', width=w, height=h)
        - })
      a.grid-obj(href='/' + object.key, data-id=object._id.toString(), data-key=object.key)
        - if (object.type === 'image')
          img.thumb(src=object.thumbs[0].cf_url, width=232, height=object.thumbs[0].meta.height)
        - else
          img.thumb(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-speaker.jpg', width=232, height=232)
      h3.object-added
        =object.created
      div.object-meta
        table
          tbody
            tr
              td
                span.object-meta-txt.meta-views
                  | #{object.post.views.length} x 
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-eye.png', width=14, height=11)
              td
                span.object-meta-txt.meta-hits
                  | #{object.hits.length} x 
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-click.png', width=11, height=10)
              td
                span.object-meta-txt.meta-ratings
                  | #{object.hearts} x 
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-heart.png', width=11, height=11)
              td
                span.object-meta-txt.meta-comments
                  | #{object.post.comments.length} x 
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-comment.png', width=10, height=11)
- if ('video' === object.type)
  div.each-grid-obj.matte(id=object._id.toString(), class='is-' + object.type)
    div.comment-title
      - if (object.post.member.role === 0 && object.post.member.key)
        a.object-title-name(href='/member/' + object.post.member.key)
          =object.post.member.displayName
      - else
        span.object-title-name-inactive
          =object.post.member.displayName
      - if (object.post)
        a.object-title-parent(href='/' + object.post.key, data-id=object._id.toString(), data-key=object.key)
          =object.post.title
    div.object-body
      div.object-parent-types
        ul
        - object.post.medias.forEach(function (med, i) {
          - var str, w, h;
          - switch (med.type) { case 'image': str = 'is-camera'; w = 14; h = 11; break; case 'video': str = 'is-recorder'; w = 21; h = 11; break; case 'audio': str = 'is-microphone'; w = 9; h = 11; break; }
          - str += i === object.index ? '' : '-inactive';
          li
            img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/' + str + '.png', width=w, height=h)
        - })
      a.grid-obj(href='/' + object.key, data-id=object._id.toString(), data-key=object.key)
        img.thumb(src=object.thumbs[0].cf_url, width=232, height=object.thumbs[0].meta.height)
        img.thumb.hidden(src=object.thumbs[1].cf_url, width=232, height=object.thumbs[1].meta.height)
        img.thumb.hidden(src=object.thumbs[2].cf_url, width=232, height=object.thumbs[2].meta.height)
        img.thumb.hidden(src=object.thumbs[3].cf_url, width=232, height=object.thumbs[3].meta.height)
        img.thumb.hidden(src=object.thumbs[4].cf_url, width=232, height=object.thumbs[4].meta.height)
        img.thumb.hidden(src=object.thumbs[5].cf_url, width=232, height=object.thumbs[5].meta.height)
        img.thumb.hidden(src=object.thumbs[6].cf_url, width=232, height=object.thumbs[6].meta.height)
        img.thumb.hidden(src=object.thumbs[7].cf_url, width=232, height=object.thumbs[7].meta.height)
      h3.object-added
        =object.created
      div.object-meta
        table
          tbody
            tr
              td
                span.object-meta-txt.meta-views
                  | #{object.post.views.length} x 
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-eye.png', width=14, height=11)
              td
                span.object-meta-txt.meta-hits
                  | #{object.hits.length} x 
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-click.png', width=11, height=10)
              td
                span.object-meta-txt.meta-ratings
                  | #{object.hearts} x 
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-heart.png', width=11, height=11)
              td
                span.object-meta-txt.meta-comments
                  | #{object.post.comments.length} x 
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-comment.png', width=10, height=11)    
