extends index

block main
  - var websites = data.website ? data.website.split('\n') : null;
  div.single-left
    - if (member && member._id.toString() === data._id.toString())
      a.button.action-button(href='/settings/' + member.key) 
        | Edit Profile
    div.obj-title
      span.slash
        | /
      h1.title-left
        =data.displayName
      h1.title-sub from 
        - if (data.hometown && data.hometown.name !== '')
          =data.hometown.name
        - else
          | Earth
    div.obj-holder.member-picture
      - if (!data.image) {
        - data.image = { meta: { width: 640, height: 288 }};
        - if (!data.gender || 'male' === data.gender)
          - data.image.cf_url = "https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-blnk-pic-m.jpg";
        - else
          - data.image.cf_url = "https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-blnk-pic-f.jpg";
      - }
      - var _w = 640, _h = 288
      - var w, h
      - var l = 'left:0;'
      - var t = 'top:0;'
      - w = _w
      - h = (data.image.meta.height / data.image.meta.width) * _w
      - if (h - _h >= 0) {
        - t = 'top:' + (data.image.meta.top !== undefined ? data.image.meta.top : (-(h - _h) / 2)) + 'px;'
      - } else {
        - w = (data.image.meta.width / data.image.meta.height) * _h
        - h = _h
        - l = 'left:' + (data.image.meta.left !== undefined ? data.image.meta.left : (-(w - _w) / 2)) + 'px;'
      - }
      img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-top.png", width="640", style="top:0;")
      img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-btm.png", width="640", style="top:280px;")
      img.masked(src=data.image.cf_url, width=w, height=h, style=(t + l))
    div.obj-desc.matte
      img.left(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-obj-info.gif", alt="info", align="top")
      div.obj-desc-txt-wrap.profile-info
        div.member-info
          ul
            - if (data.description)
              li
                p(style='margin:0 0 5px; font-size:10px;') !{util.formatCommentText(data.description)}
            li
              | // #{data.displayName} is a 
              - if (data.birthday)
                span.member-info-content.birthday #{data.birthday} 
                span &nbsp;year old 
              - if (data.gender)
                span.member-info-content #{data.gender.toLowerCase()} 
              - else
                span.member-info-content human 
              | living in 
              - if (data.location && data.location.name !== '')
                span.member-info-content #{data.location.name}
              - else
                span.member-info-content Milky Way Galaxy
              | .
            - if (websites)
              li
                | // 
                span More from #{data.displayName} at 
                span.member-info-content
                  - websites.forEach(function (site, i) {
                    - if (site !== '') {
                      - if (!site.match(/^http:\/\/|https:\/\//)) site = 'http://' + site;
                      a(href=site, target="_blank") #{site}
                      - if (i !== websites.length - 1)
                        | , 
                    - }
                  - })
        h3.obj-details(data-date=data.created.toString(), data-type="profile", data-role=data.role)
  div.recent-comments-wrap
    h1.title-right / Recent Comments
    #recent-comments.no-member(data-id=data._id.toString(), data-limit="10", data-showmember="false", data-showpost="true")
      span.loading Loading ...
  div.clear
  div.grid-wrap
    #search
      h1.title-bottom / Browse
      input#search-box.matte(type="search", placeholder="Search", value=(data.displayName).toLowerCase())
      div.search-spinner
    #grid.adjustable-grid
