div.single-left
  div.obj-title
    span.slash /
    h1.title-left
      =member.displayName
    h1.title-sub from 
      =data.hometown.name
  div.obj-holder.member-picture
    - var top = -(data.picture.height / data.picture.width) * 320;
    img.mask(src="/graphics/corner-mask.png", width='640', height='288')
    img.masked(src=data.picture.source, width='640', style='top:' + top + 'px;')
  div.obj-desc.matte
    img.left(src='/graphics/is-obj-info.gif', alt='info', align='top')
    div.obj-desc-txt-wrap
      div.member-info
        ul
          - if (data.location)
            li \// 
              span Lives in 
              span.member-info-content #{data.location.name}
          - if (data.hometown)
            li \// 
              span From 
              span.member-info-content #{data.hometown.name}
          - if (data.birthday && data.gender)
            li \// 
              span.member-info-content.birthday #{data.birthday}
              span &nbsp;year old 
              span.member-info-content #{data.gender}
          li \// 
            span More from #{data.displayName} at 
            span.member-info-content
              a(href=data.website, target="_blank") #{data.website}
      h3.obj-details(data-date=data.created.toString(), data-type='profile')
div.recent-comments-wrap
    h1.title-right / Recent Comments
    #recent-comments.no-member
      !=partial('comment', { collection: comments, showMember: false })
div.clear
div.grid-wrap
  #search
    h1.title-bottom / Browse
    input#search-box.matte(type='search', placeholder='Search', value=member.displayName.toLowerCase())
  #grid.adjustable-grid
    !=partial('object', grid)
