extends index

block main
  - var websites = data.website ? data.website.split('\n') : null;
  div.leftside
    div.obj-title
      span.slash
        | /
      h1.title-left
        =data.displayName
      h1.title-sub from 
        - if (data.hometown && data.hometown.name !== '')
          =data.hometown.name
        - else
          | Earth
    div.obj-holder.member-picture.matte
      - if (!data.image) {
        - data.image = { meta: { width: 640, height: 288 }};
        - if (!data.gender || 'male' === data.gender)
          - data.image.cf_url = "https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-blnk-pic-m.jpg";
        - else
          - data.image.cf_url = "https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-blnk-pic-f.jpg";
      - }
      - var _w = 640, _h = 288
      - var w, h
      - var l = 'left:0;'
      - var t = 'top:0;'
      - w = _w
      - h = (data.image.meta.height / data.image.meta.width) * _w
      - if (h - _h >= 0) {
        - t = 'top:' + (data.image.meta.top !== undefined ? data.image.meta.top : (-(h - _h) / 2)) + 'px;'
      - } else {
        - w = (data.image.meta.width / data.image.meta.height) * _h
        - h = _h
        - l = 'left:' + (data.image.meta.left !== undefined ? data.image.meta.left : (-(w - _w) / 2)) + 'px;'
      - }
      img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-top.png", width="640", style="top:0;")
      img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-btm.png", width="640", style="top:280px;")
      img.masked(src=data.image.cf_url, width=w, height=h, style=(t + l))
    div.obj-desc.matte
      img.left(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-obj-info.gif", alt="info", align="top")
      div#profile_info.obj-desc-txt-wrap.profile-info
        - if ((data.description && data.description !== "") || websites)
          div.member-info
            ul
              - if (data.description && data.description !== "")
                li
                  p#profile_bio #{data.description}
              - if (websites)
                li
                  | // 
                  span More from #{data.displayName} at 
                  span.member-info-content
                    - websites.forEach(function (site, i) {
                      - if (site !== '') {
                        - if (!site.match(/^http:\/\/|https:\/\//)) site = 'http://' + site;
                        a(href=site, target="_blank") #{site}
                        - if (i !== websites.length - 1)
                          | , 
                      - }
                    - })
        h3.obj-details Member since #{data.created.getMonth() + 1}/#{data.created.getFullYear()}
    div#posts
    div.list-spin
      div#posts-spin
      span.empty-feed Showing all.
  div.rightside
    h1.title-right / Activity
    br
    span.empty-list ...will go here :)
  div.clear
