div.single-left
  div.obj-title
    span.slash /
    h1.title-left
      =member.displayName
    h1.title-sub from 
      =data.hometown.country
  div.obj-holder.member-picture
    img.matte(src=data.picture, width='640')
  div.obj-desc.matte
    img.left(src='/graphics/is-obj-info.gif', alt='info', align='top')
    div.obj-desc-txt-wrap
      div.member-info
        ul
          li \// 
            span Lives in 
            span.member-info-content #{data.location.city}, #{data.location.state}
          li \// 
            span From 
            span.member-info-content #{data.hometown.country}
          li \// 
            span.member-info-content #{data.birthday} 
            span year old 
            span.member-info-content #{data.gender}
          li \// 
            span More from #{data.displayName} at 
            span.member-info-content #{data.website}
          li \// 
            span Supported by 
            span.member-info-content #{data.sponsors} FiveTen, North Face
      h3.obj-details(data-date=data.created, data-type='profile')
div.recent-comments-wrap
    h1.title-right / Recent Comments
    #recent-comments
      !=partial('comment', { collection: comments, showMember: false })
div.grid-wrap
  #search
    h1.title-bottom / Browse
    input#search-box.matte(type='search', placeholder='Search', value=member.displayName.toLowerCase())
  #grid.adjustable-grid
    !=partial('object', grid)
