div.single-left
  div.obj-title
    span.slash
      | /
    h1.title-left
      =data.displayName
    h1.title-sub from 
      - if (data.hometown)
        =data.hometown.name
      - else
        | Earth
  div.obj-holder.member-picture
    - if (!data.picture) {
      - data.picture = { width: 640, height: 288 };
      - if (!data.gender || 'male' === data.gender)
        - data.picture.source = "https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-blnk-pic-m.jpg";
      - else
        - data.picture.source = "https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-blnk-pic-f.jpg";
    - }
    - var _w = 640, _h = 288
    - var w, h, o
    - w = _w
    - h = (data.picture.height / data.picture.width) * _w
    - if (h - _h >= 0) {
      - o = 'top:' + (-(h - _h) / 2) + 'px;'
    - } else {
      - w = (data.picture.width / data.picture.height) * _h
      - h = _h
      - o = 'left:' + (-(w - _w) / 2) + 'px;'
    - }
    img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-top.png", width="640", style="top: 0;")
    img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-btm.png", width="640", style="top: 280px;")
    img.masked(src=data.picture.source, width=w, height=h, style=o)
  div.obj-desc.matte
    img.left(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-obj-info.gif", alt="info", align="top")
    div.obj-desc-txt-wrap
      div.member-info
        ul
          - if (data.location)
            li \// 
              span Lives in 
              span.member-info-content #{data.location.name}
          - if (data.hometown)
            li \// 
              span From 
              span.member-info-content #{data.hometown.name}
          - if (data.birthday && data.gender)
            li \// 
              span.member-info-content.birthday #{data.birthday}
              span &nbsp;year old 
              span.member-info-content #{data.gender}
          - if (data.website)
            li \// 
              span More from #{data.displayName} at 
              span.member-info-content
                a(href=data.website, target="_blank") #{data.website}
      h3.obj-details(data-date=data.created.toString(), data-type="profile")
div.recent-comments-wrap
    h1.title-right / Recent Comments
    #recent-comments.no-member
      !=partial('comment', { collection: comments, showMember: false })
div.clear
div.grid-wrap
  #search
    h1.title-bottom / Browse
    input#search-box.matte(type="search", placeholder="Search", value=(data.name.givenName + ' ' + data.name.familyName).toLowerCase())
  #grid.adjustable-grid
    !=partial('object', grid)
