div.left
  #obj-title
    span.slash /
    h1.obj-title
      =data.title
    h1.obj-owner from 
      =data.member.name.first + ' ' + data.member.name.last
  - if (data.type == 'image')  
    #obj-holder(style='height: ' + data.attached.image_full.meta.height + 'px')
      img.matte(id='image-' + data.id, src=data.attached.image_full.cf_url, width=data.attached.image_full.meta.width, height=data.attached.image_full.meta.height)
  - if (data.type == 'video')
    #obj-holder  
      video.matte(id='video-' + data.id, poster=data.attached.video_poster.cf_url, controls='controls', preload='none', width='640', height=(data.attached.video_encode.meta.height / data.attached.video_encode.meta.width) * 640)
        source(type='video/mp4', src=data.attached.video_encode.cf_url)
        object(type='application/x-shockwave-flash', data='/mediaelement/flashmediaelement.swf', width='640', height=(data.attached.video_encode.meta.height / data.attached.video_encode.meta.width) * 640)
            param(name='movie', value='/mediaelement/flashmediaelement.swf')
            param(name='flashvars', value='controls=true&poster=' + data.attached.video_poster.cf_url + '&file=' + data.attached.video_encode.cf_url)
            img(src=data.attached.video_poster.cf_url, title='No video playback capabilities', width='640', height=(data.attached.video_poster.meta.height / data.attached.video_poster.meta.width) * 640)
  #obj-desc.matte
    img.left(src='/graphics/is-obj-info.gif', alt='info', align='top')
    div#obj-desc-txt-wrap
      p#obj-desc-txt
        =data.body
      h3#obj-details.obj-details Added 
        =data.added + ' by ' + data.member.name.first + ' ' + data.member.name.last
      //div(style='position: relative; height: 17px')
      //img.social-icons(src='/graphics/sn/b/facebook_16.png', alt='/graphics/sn/facebook_16.png', title='Post, to Profile', style='left:0px;')
      //img.social-icons(src='/graphics/sn/b/twitter_16.png', alt='/graphics/sn/twitter_16.png', title='Tweet', style='left:21px;')
      //img.social-icons(src='/graphics/sn/b/myspace_16.png', alt='/graphics/sn/myspace_16.png', title='Post to Profile', style='left:42px;')
      //img.social-icons(src='/graphics/sn/b/digg_16.png', alt='/graphics/sn/digg_16.png', title='Digg It', style='left:63px;')
      //img.social-icons(src='/graphics/sn/b/delicious_16.png', alt='/graphics/sn/delicious_16.png', title='Share', style='left:84px;')
      //img.social-icons(src='/graphics/sn/b/stumbleupon_16.png', alt='/graphics/sn/stumbleupon_16.png', title='Share', style='left:105px;')
      //img.social-icons(src='/graphics/sn/b/tumblr_16.png', alt='/graphics/sn/tumblr_16.png', title='Share', style='left:126px;')
      //img.social-icons(src='/graphics/sn/b/email_16.png', alt='/graphics/sn/email_16.png', title='Email', style='left:147px;')
      //img.social-icons(src='/graphics/sn/b/rss_16.png', alt='/graphics/sn/rss_16.png', title='Follow', style='left:168px;')
div(style='margin-left: 670px')
  div(style='padding-top: 20px')
    img(src='/graphics/is-bubble.png', alt='is-bubble', align='top')
  textarea.commentor-input-dummy.matte(name='Write a comment...') Write a comment...
  div.commentor
    textarea.commentor-input.matte
    input.is-button.add-comment(id='addto-' + data.id, type='submit', title='Add Comment', value='Comment')
    span.commentor-whois Logged in as 
      span(style='font-style: italic')
        =cm.name.first + ' ' + cm.name.last
  div.obj-comments(id='coms-' + data.id)
    !=partial('comment', data.comments )
div.clear