extends index

block main
  div.single-left
    - if (post.product && post.product.sku)
      a#buy-post.button.action-button(href='http://transactions.digitaldeliveryapp.com/products/' + post.product.sku + '/purchase', target='_blank', style='margin-left:5px;')
        i.icon-download-cloud 
        | #{post.product.subtype} Film ($#{post.product.price})
    - if (member && member._id.toString() === post.member._id.toString())
      a#delete-post.button.action-button(data-key=post.key, href='javascript:;')
        | Delete Post
    div.obj-title
      span.slash
        | /
      h1.title-left
        =post.title
      h1.title-sub from 
        - if (post.member.key)
          a(href='/member/' + post.member.key)
            =post.member.displayName
        - else
          =post.member.displayName
    - post.medias.forEach(function (med, i) {
      - if (med.type === 'image')
        - var height = med.instagram ? 640 : med.image.meta.height
        div.obj-holder(style='height: ' + (640 * height / med.image.meta.width) + 'px')
          img.matte(id='image-' + med._id, src=(med.image.cf_url || med.image.url), width=640, height=(640 * height / med.image.meta.width))
          - if (member)
            div.hearts(data-num=med.hearts)
              div.hearts-wrap
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
              div.hearts-back(id='hrt-' + med._id)
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/hearts.png')
      - if (med.type === 'video')
        div.obj-holder
          img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-top.png", width="640", style="top: 0;")
          img.mask(src="https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-cornermask-btm.png", width="640", style="top: " + (((med.video.meta.height / med.video.meta.width) * 640)-8) + "px;")
          video(src=med.video.cf_url, id='video-' + med._id, poster=med.poster.cf_url, controls='controls', preload='none', width='640', height=(med.video.meta.height / med.video.meta.width) * 640)
          - if (member)
            div.hearts(data-num=med.hearts)
              div.hearts-wrap
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
              div.hearts-back(id='hrt-' + med._id)
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/hearts.png')
      - if (med.type === 'audio')
        div.obj-holder
          div.jp-audio(id="jp_container_" + med.audioIndex)
            div.jp-type-single
              div.jp-jplayer(id="jquery_jplayer_" + med.audioIndex, data-src=med.audio.cf_url)
              div.jp-title
                ul
                  li #{med.audio.basename} by #{med.audio.meta.artist}
              div.jp-gui.jp-interface.matte
                ul.jp-controls
                  li
                    a.jp-play(href="javascript:;", tabindex="1") play
                  li
                    a.jp-pause(href="javascript:;", tabindex="1") pause
                  li
                    a.jp-stop(href="javascript:;", tabindex="1") stop
                  li
                    a.jp-mute(href="javascript:;", tabindex="1", title="mute") mute
                  li
                    a.jp-unmute(href="javascript:;", tabindex="1", title="unmute") unmute
                  li
                    a.jp-volume-max(href="javascript:;", tabindex="1", title="max volume") max volume
                div.jp-progress
                  div.jp-seek-bar
                    div.jp-play-bar
                div.jp-volume-bar
                  div.jp-volume-bar-value
                div.jp-time-holder
                  div.jp-current-time
                  div.jp-duration
                  ul.jp-toggles
                    li
                      a.jp-repeat(href="javascript:;", tabindex="1", title="repeat") repeat
                    li
                      a.jp-repeat-off(href="javascript:;", tabindex="1", title="repeat off") repeat off
          - if (member)
            div.hearts(data-num=med.hearts)
              div.hearts-wrap
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
                img.heart-img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/heart.png')
              div.hearts-back(id='hrt-' + med._id)
                img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/hearts.png')
    - });
    div.obj-desc.matte
      img.left(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-obj-info.gif', alt='info', align='top')
      div.obj-desc-txt-wrap
        p.obj-desc-txt
          !{util.formatCommentText(post.body)}
        - var location = post.location && post.location.name ? post.location.name : null;
        h3.obj-details(data-date=post.created.toString(), data-type='media', data-location=location)
  div.single-right
    div(style='padding-top: 12px')
      img(src='https://d271mvlc6gc7bl.cloudfront.net/main/gfx/is-bubble.png', alt='is-bubble', align='top', width=26, height=20)
    - if (member)
      textarea.commentor-input-dummy.matte(name='Write a comment...', placeholder='Write a comment...')
      div.commentor
        textarea.commentor-input.matte(placeholder='Write a comment...')
        input.is-button.add-comment(id='addto-' + post._id, type='submit', title='Add Comment', value='Comment')
        - if (member)
          span.commentor-whois Logged in as 
            span(style='font-style: italic')
              =member.displayName
    - else
      p(class="login-prompt") 
        a(href="/login") Login
        |  to comment.
    div.obj-comments(id='coms-' + post._id)(data-id=post._id.toString(), data-limit="0", data-showmember="true", data-showpost="false")
      span.loading Loading ...
  div.grid-wrap
    #search
      h1.title-bottom / Browse
      input#search-box.matte(type='search', placeholder='Search', value=(post.member.displayName).toLowerCase())
      div.search-spinner
    #grid.adjustable-grid
