- var defaultDescription = "Log your climbing. Follow other athletes. Watch crags and climbs."

doctype 5
html(lang="en")
  head
    meta(property="og:site_name", content="The Island")
    meta(property="fb:app_id", content="203397619757208")
    - if (typeof url !== 'undefined')
      meta(property="og:url", content="#{url}")
    - if (typeof title !== 'undefined')
      meta(property="og:title", content="#{title}")
    - else
      meta(property="og:title", content="The Island")
    - if (typeof description !== 'undefined')
      meta(property="og:description", content="#{description}")
    - else
      meta(property="og:description", content="#{defaultDescription}")
    - if (typeof image !== 'undefined')
      meta(property="og:image", content="#{image.ssl_url}")
      meta(property="og:image:secure_url", content="#{image.ssl_url}")
      meta(property="og:image:type", content="image/jpeg")
    - else
      meta(property="og:image", content="https://s3.amazonaws.com/island.io/splash.jpg")
      meta(property="og:image:secure_url", content="https://s3.amazonaws.com/island.io/splash.jpg")
      meta(property="og:image:type", content="image/jpeg")
    - if (typeof video !== 'undefined')
      meta(property="og:video", content="#{video.ssl_url}")
      meta(property="og:video:secure_url", content="#{video.ssl_url}")
      meta(property="og:video:type", content="video/mp4")
      meta(property="og:video:width", content="470")
      meta(property="og:video:height", content="#{Math.round(470*video.meta.height/video.meta.width)}")
    - if (typeof title !== 'undefined')
      title= title
    - else
      title The Island
    - if (typeof description !== 'undefined')
      meta(name="description", content="#{description}")
    - else
      meta(name="description", content="#{defaultDescription}")
    meta(name="keywords", content="Climb, Climbing, Rock Climbing, Bouldering, Island, Training, Logging")
    meta(name="author", content="The Island")
    meta(charset="UTF-8")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")
  body
    include header
    - if (typeof body !== 'undefined')
      !{body}
    include footer
