doctype 5
html(lang="en")
  head
    meta(property="og:site_name", content="Island")
    meta(property="fb:app_id", content="203397619757208")
    - if (typeof key !== 'undefined')
      meta(property="og:url", content="https://www.island.io/#{key}")
    - else
      meta(property="og:url", content="https://www.island.io")
    - if (typeof title !== 'undefined')
      meta(property="og:title", content="Island | #{title}")
    - else
      meta(property="og:title", content="Island | Climb")
    - if (typeof body !== 'undefined')
      meta(property="og:description", content="#{body}")
    - else
      meta(property="og:description", content="We are Island.")
    - if (typeof posts !== 'undefined')
      each p in posts
        each m in p.medias
          - if (m.type === 'image')
            meta(property="og:image", content="#{m.image.ssl_url || m.image.url}")
            - if (m.image.ssl_url && m.image.ssl_url.indexOf('https://') !== -1)
              meta(property="og:image:secure_url", content="#{m.image.ssl_url}")
            meta(property="og:image:width", content="#{m.image.meta.width}")
            meta(property="og:image:height", content="#{m.image.meta.height}")
            meta(property="og:image:type", content="#{m.image.mime || 'image/jpeg'}")
          - else if (m.type === 'video')
            meta(property="og:image", content="#{m.poster.ssl_url || m.poster.url}")
            - if (m.poster.ssl_url && m.poster.ssl_url.indexOf('https://') !== -1)
              meta(property="og:image:secure_url", content="#{m.poster.ssl_url}")
            meta(property="og:image:width", content="#{m.poster.meta.width}")
            meta(property="og:image:height", content="#{m.poster.meta.height}")
            meta(property="og:image:type", content="#{m.poster.mime || 'image/jpeg'}")
          - else if (m.type === 'audio')
            meta(property="og:audio", content="#{m.audio.ssl_url || m.audio.url}")
            - if (m.audio.ssl_url && m.audio.ssl_url.indexOf('https://') !== -1)
              meta(property="og:audio:secure_url", content="#{m.audio.ssl_url}")
            meta(property="og:audio:type", content="application/mp3")
    - else if (typeof profiles !== 'undefined')
      each p in profiles
        - if (typeof p.image !== undefined && p.image !== null)
          meta(property="og:image", content="#{p.image.ssl_url || p.image.url}")
          - if (p.image.ssl_url && p.image.ssl_url.indexOf('https://') !== -1)
            meta(property="og:image:secure_url", content="#{p.image.ssl_url}")
          meta(property="og:image:width", content="#{p.image.meta.width}")
          meta(property="og:image:height", content="#{p.image.meta.height}")
          meta(property="og:image:type", content="#{p.image.mime || 'image/jpeg'}")
    - else if (typeof medias !== 'undefined')
      each m in medias
        - if (m.type === 'video')
          meta(property="og:image", content="#{m.poster.ssl_url || m.poster.url}")
          - if (m.poster.ssl_url && m.poster.ssl_url.indexOf('https://') !== -1)
            meta(property="og:image:secure_url", content="#{m.poster.ssl_url}")
          meta(property="og:image:width", content="#{m.poster.meta.width}")
          meta(property="og:image:height", content="#{m.poster.meta.height}")
          meta(property="og:image:type", content="#{m.poster.mime || 'image/jpeg'}")
    - if (typeof link !== 'undefined')
      meta(property="og:image", content="#{link.poster.ssl_url || link.poster.url}")
      - if (link.poster.ssl_url && link.poster.ssl_url.indexOf('https://') !== -1)
        meta(property="og:image:secure_url", content="#{link.poster.ssl_url}")
      meta(property="og:image:width", content="#{link.poster.meta.width}")
      meta(property="og:image:height", content="#{link.poster.meta.height}")
      meta(property="og:image:type", content="#{link.poster.mime || 'image/jpeg'}")
    meta(property="og:image", 
      content="https://d1da6a4is4i5z6.cloudfront.net/0a/a6aef906ed73d28ba07ac3388c6348.jpg")
    meta(property="og:image:secure_url", 
      content="https://d1da6a4is4i5z6.cloudfront.net/0a/a6aef906ed73d28ba07ac3388c6348.jpg")
    meta(property="og:image:width", content="640")
    meta(property="og:image:height", content="924")
    meta(property="og:image:type", content="image/jpeg")
    - if (typeof title !== 'undefined')
      title= title
    - else
      title Island
    meta(name="description", content="We are Island.")
    meta(name="keywords", content="Climb, Climbing, Rock Climbing")
    meta(name="author", content="Island LLC")
    meta(charset="UTF-8")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")
  body
