- var image = trend.image || { cf_url: 'https://d271mvlc6gc7bl.cloudfront.net/main/gfx/cassette.jpg', meta: { width: 640, height: 320 } };
a.trending(href='/' + trend.key, data-id=trend._id.toString(), data-key=trend.key)
  img.trending-img(id='trend-' + trend.key, src=image.cf_url, width=image.meta.width, height=image.meta.height)
